div {
	border:1px solid white;
	font:95% Helvetica;
}

div#menu {
	float: left;
	margin-top:expression("20px");
	margin-bottom:expression("-18px");
}

div#header {
	text-align:center;
	margin-bottom:10px;
}

div#content {
	clear:both;
	text-align:left;
	padding:20px 30px;
	border:3px solid rgb(232,185,83);
}

div#content, div#footer {
	margin:0px 3px 0px 1px;
	_margin:0px 0px 0px 36px;
}

div#sf-logo {
	float:left;
	margin:0px;
	padding:0px;
}

div#sf-logo a {
	padding-right:10px;
}

div#copyright {
	float: right;
	margin-top: 5pt;
	height: 37px;
	color: gray;
}

h1 {
	font:bold 120% Helvetica;
	color:rgb(184,146,66);
}

div#outer-page {
	max-width:630px;
	width:expression(document.body.clientWidth > 650? "650px": "auto" );
	margin:0 auto;
}

div#page {
	float:left;
	max-width:600px;
	width:expression(document.body.clientWidth > 600? "600px": "auto" );
	margin:0 auto;
}

div#lang-buttons {
	float:right;
	margin:53px 0px 0px 0px;
	line-height:20px;
}

ul#nav-bar {
	list-style:none;
	text-align:center;
	padding:0px;
	width:600px;
}

ul#nav-bar li {
	display:inline;
}

ul#nav-bar li a {
	padding:5px 0px;
	width:140px;
	margin:0px 4px 3px 0px;
	float:left;
	border:3px solid rgb(232,185,83);
	text-decoration:none;
}

ul#nav-bar li a:hover {
	background: rgb(232,185,83);
	color:black;
}

li {
	padding-top:2px;
	padding-bottom:2px;
}

ul {
	list-style-image: url(bullet.png);
	padding-left:expression("0px");
	padding-left:30px;
}

div#img a:link, div#img a:visited, div#img a:hover {
	text-decoration: none;
	color: white;
}

a:link, a:visited {
	text-decoration: underline;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: goldenrod;
}

table {
	padding: 0;
	border: 1px solid silver;
	border-collapse: collapse;
	text-align: center;
	width: 100%
}

table th {
	padding: 8px 4px;
	border: 1px solid silver;
	background-color: rgb(255, 255, 204);
}

table td {
	padding: 2px 4px;
	border: 1px solid silver;
}
